<!-- your html code here -->
<div style="margin-bottom: 100px;">
    <div class="row">
        <h1>Contact</h1>

    </div>
    <div class="row">

        <p>Por favor envíenos sus datos</p>
    </div>
    <div class="col-8" style="background-color: gray;">
        <form>
            <div class="form-group row">
                <div class="col-2">
                    <label for="exampleInputEmail1">Your E-mail</label>
                </div>
                <div class="col-10">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Your email">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Your message</label>
                <input type="text" class="form-control" id="exampleInputPassword1"
                    placeholder="Please enter your message here">
            </div>
            <button type="button" class="d-flex btn btn-primary ml-auto">Submit</button>
        </form>
    </div>
</div>