<!-- your html code here -->

<div class="first_heading container">
    <div class="row">
        <div class="col-8">
        <h1><span>This First Heading</span><span style="color: grey;"> Will Catch Your Eye</span></h1>
        <p style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia, felis in consequat maximus, erat tellus lobortis tortor, consequat egestas nisi mauris sit amet mauris. Fusce hendrerit fringilla ante nec hendrerit. Pellentesque eu orci at mauris dictum malesuada ut at velit. Sed elit urna, tincidunt eu accumsan nec, blandit id leo. Vestibulum lobortis dolor lectus. Vestibulum velit arcu, tristique a purus id, tincidunt vulputate velit. Praesent laoreet bibendum tellus, in lacinia urna elementum maximus. Mauris turpis leo, auctor vel risus at, commodo auctor tellus. Ut tempor erat nulla, sed semper sem posuere eget.</p>
        </div>
        <div class="col-4">
            <img class="rounded-circle" src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2018/08/31/15357275506957.jpg" />
        </div>

    </div>

</div>