<div class="container">
    <h1>Portfolio</h1>
    <p>Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</p>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#B3B4B6"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">700 x 400</text></svg>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #3393FF">Project Name</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit etiam accumsan venenatis, suscipit vitae non sodales aenean dictumst semper velit curabitur, sociosqu duis aptent turpis lectus nec ultricies hac sed.</p>
                        </div>
                    </div>
                </div>
        
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#B3B4B6"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">700 x 400</text></svg>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #3393FF">Project Name</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit etiam accumsan venenatis, suscipit vitae non sodales aenean dictumst semper velit curabitur, sociosqu duis aptent turpis lectus nec ultricies hac sed.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#B3B4B6"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">700 x 400</text></svg>
                        <div class="card-body">
                            <h3 class="card-title" style="color: #3393FF">Project Name</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit etiam accumsan venenatis, suscipit vitae non sodales aenean dictumst semper velit curabitur, sociosqu duis aptent turpis lectus nec ultricies hac sed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>